*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Container Styles */
.container {
  width: 100%;
  padding: 1.5rem;
  margin: 4rem auto;
}

/* Row Styles */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-0.5 * 1.5rem);
  margin-left: calc(-0.5 * 1.5rem);
}

/* Column Styles */
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(1.5rem * 0.5);
  padding-left: calc(1.5rem * 0.5);
}

/* Blog Layout */
.blog-layout .v-height {
  height: 240px;
}

.blog-layout .h-entry {
  display: block;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

/* Featured Image Styles */
.blog-layout .featured-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
}

/* Blog Text Styles */
.blog-layout .text {
  position: absolute;
  bottom: 0;
  z-index: 10;
  padding: 10px;
  color: #fff;
}

.blog-layout .text .date {
  font-size: 12px;
}

.blog-layout .text h2 {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 0;
  font-weight: 700;
}

/* Blog Text Styles */
.blog-layout .text {
  position: absolute;
  bottom: 0;
  z-index: 10;
  padding: 10px;
}

/* Date Styles */
.blog-layout .text .date {
  font-size: 12px;
  color: #fff; 
}

/* Title Styles */
.blog-layout .text h2 {
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 0;
  font-weight: 700;
}

/* Gradient Overlay */
.blog-layout .gradient:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 18%,
    rgba(0, 0, 0, 0.8) 99%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

/* Blog Links */
.blog-links {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease, margin-top 0.3s ease;
  gap: 1rem;
}

.blog-link .web,
.blog-link .git {
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.blog-layout .h-entry:hover .blog-links {
  opacity: 1;
}

/* Learn More Button */
.learn-more-btn {
  background-color: #217ee7;
  padding: 8px 16px;
  color: #03041c;
  border-radius: 5px;
  font-weight: bold;
  font-size: 0.9rem;
  transition: all 0.3s ease-in-out;
}

/* Hover */

/* Hide text on hover */
.blog-layout .h-entry:hover .text {
  opacity: 0; 
  transition: opacity 0.3s ease; 
}
.blog-layout .h-entry:hover .featured-img {
  transform: scale(1.05);
}
.learn-more-btn:hover {
  background-color: #0f4685;
  transform: scale(1.05);
  color: #fff;
}

/* Media Queries */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .blog-md {
    flex: 0 0 33.3333%;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}