/* Header Styles */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.header-dark {
  background-color: var(--dark-bg-color);
  color: var(--light-text-color);
}

.header-light {
  background-color: var(--light-bg-color);
  color: var(--dark-text-color);
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.8rem; 
  font-weight: bold;
  color: #333; 
}

.logo-text {
  background: linear-gradient(45deg, #2a7ddd, #5f2ee5); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 0.5rem;
  font-family: 'Poppins', sans-serif; 
}

.slash {
  font-size: 1.6rem;
  color: #555; 
}

.header-dark .gradient {
  color: #ffffff; 
}

.header-light .gradient {
  color: #03041c; 
}


/* Theme Switcher */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

/* Slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7da7f5;
  transition: background-color 0.4s;
  border-radius: 50px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 36px; 
  width: 36px; 
  left: 2px; 
  bottom: 2px; 
  background-color: white; 
  transition: transform 0.4s; 
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #0847B6;
}

input:checked + .slider:before {
  transform: translateX(40px); 
}

/* Icon Styles */
.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  transition: opacity 0.4s;
}

.sun-icon {
  left: 10px; 
  color: #FFA500; 
}

.moon-icon {
  right: 10px; 
  opacity: 0.5;
  color: #7da7f5;
}

input:checked + .slider .sun-icon {
  opacity: 0.3; 
}

input:checked + .slider .moon-icon {
  opacity: 1; 
}

/* Switch Wrapper */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch {
  position: relative;
  display: inline-block;
  width: 80px;  
  height: 40px; 
  margin-right: 8rem; /* Adjust spacing */
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .gradient {
    font-size: 1.2rem; 
  }
}
