.projects {
  padding-top: 7rem;
}
.projects .project-wrapper {
  margin-top: 3rem;
}
.projects .project-wrapper .project-content {
  cursor: pointer;
  border-radius: 20px;
  margin-bottom: 3rem;
  transition: 0.4s ease-in-out transform;
}
.projects .project-wrapper .project-content .project-icon {
  height: 30px;
  border: 1px solid #d9d9d9;
  padding: 0.3rem;
  border-radius: 9px;
  margin-right: 0.5rem;
}
.projects .project-wrapper .project-content a {
  display: block;
}
.projects .project-wrapper .project-content h5 {
  font-weight: bold;
  padding: 1rem;
  margin: 0;
  padding-bottom: 0;
  font-size: 18px;
}
.projects .project-wrapper .project-content span {
  margin: 0;
  padding: 1rem;
  border-bottom: 1px solid #d9d9d9;
  padding-top: 0.5rem;
  display: inline-block;
  color: #555;
  font-size: 14px;
}
.projects .project-wrapper .project-content span:hover {
  text-decoration: none;
}
.projects .project-wrapper .project-content .project-swiper {
  position: relative;
  overflow: hidden;
}
.projects .project-wrapper .project-content .project-swiper .project-bg {
  background: linear-gradient(90.7deg, rgba(27, 32, 131, 0.8) 0%, rgba(3, 4, 28, 0.8) 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.projects .project-wrapper .project-content .project-swiper .project-link {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.projects .project-wrapper .project-content .project-swiper .project-link .web {
  transition: all 0.3s ease-in-out;
}
.projects .project-wrapper .project-content .project-swiper .project-link .git {
  transition: all 0.3s ease-in-out 0.3s;
}
.projects .project-wrapper .project-content .project-swiper .project-link .web,
.projects .project-wrapper .project-content .project-swiper .project-link .git {
  margin-top: -300%;
  width: 50px;
  height: 50px;
  background: #fff;
  line-height: 50px;
  border-radius: 50%;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.projects .project-wrapper .project-content .project-swiper .project-link .web a,
.projects .project-wrapper .project-content .project-swiper .project-link .git a {
  line-height: 50px;
  text-align: center;
  display: block;
}
.projects .project-wrapper .project-content .project-swiper .project-link .web:hover,
.projects .project-wrapper .project-content .project-swiper .project-link .git:hover {
  transform: translateY(-10px);
  transition: all 0.3s cubic-bezier(0.21, 0.6, 0.44, 2.18) !important;
}
.projects .project-wrapper .project-content:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #ebebeb;
}
.projects .project-wrapper .project-content:hover .project-bg {
  opacity: 1;
  cursor: pointer;
  visibility: visible;
}
.projects .project-wrapper .project-content:hover .project-link > .web, .projects .project-wrapper .project-content:hover .project-link > .git {
  margin-top: 0;
}